a:hover {
    text-decoration: none;
}

textarea {
    border: 1px solid #999999;
    width: 100%;
    margin: 5px 0;
    padding: 3px;
    border: none;
}

#search {
	width: 50%;
}

.app-content-loading {
    text-align: center;
    height: 100%;
    width: 100%;
    background: #fff;
    position: relative;
}

.loading-spinner {
    position: absolute;
    font-size: 50px;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

#menu-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 3;
}

.menu-item {
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    padding: 5px;
}

pre {
    text-align: left !important;
}

input.scrollable-header {
    border-bottom: 3px solid #ccc;
}